cache/
.DS_Store
.idea/
*.pyc
__pycache__/
*/__pycache__/
*/__pycache__/*
*.txt
*.csv
*.gz
*.zip
implant-finder/mimiccxr_files/mimiccxr_studies_text
mimiccxr_studies_text
NegBio/
implant-finder/cxr_studies_with_text
